<ion-header>
  <ion-toolbar>
    <div class="logo-container">
      <a href="/tabs/tab1"><img class="logo" src="assets/logo_agendalocal.png"></a>
      <span class="login-text">Login</span>
      <ion-icon name="person-circle-outline" class="login-icon" (click)="abrirLogin()"></ion-icon>
    </div>
    <div class="barra"></div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Agenda Local</h1>
  <swiper-container class="mySwiper" [autoplay]="{delay: 3000}">
    <swiper-slide><img src="assets/capa.png" alt="AgendaLocal"></swiper-slide>
    <swiper-slide><a href="/tabs/tab2"><img src="assets/swiper/swiper2.png" alt="Algum de nossos produtos"></a></swiper-slide>
    <swiper-slide><a href="/premium-modal"><img src="assets/swiper/swiper3.png" alt="Algum de nossos produtos"></a></swiper-slide>
  </swiper-container>

  <h2>Eventos em Destaque</h2>

    <swiper-container pagination="true">
      <swiper-slide>
        <ion-col>
          <ion-card>
            <img src="assets/produtos/produto3.png" />
            <ion-card-header>
              <ion-card-title>Ivete Sangalo</ion-card-title>
              <ion-card-subtitle>Show</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
  
        <ion-col>
          <ion-card>
            <img src="assets/produtos/produto2.png" />
            <ion-card-header>
              <ion-card-title>Ed Sheeran</ion-card-title>
              <ion-card-subtitle>Show</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </swiper-slide>
  
      <swiper-slide>
        <ion-col>
          <ion-card>
            <img src="assets/produtos/produto4.png" />
            <ion-card-header>
              <ion-card-title>Eric Clapton</ion-card-title>
              <ion-card-subtitle>Show</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
  
        <ion-col>
          <ion-card>
            <img src="assets/produtos/produto9.png" />
            <ion-card-header>
              <ion-card-title>Dilatados</ion-card-title>
              <ion-card-subtitle>Teatro</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </swiper-slide>
  
      <swiper-slide>
        <ion-col>
          <ion-card>
            <img src="assets/produtos/produto15.png" />
            <ion-card-header>
              <ion-card-title> Baixa Terapia</ion-card-title>
              <ion-card-subtitle>Teatro</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
  
        <ion-col>
          <ion-card>
            <img src="assets/produtos/produto17.png" />
            <ion-card-header>
              <ion-card-title>Mamonas</ion-card-title>
              <ion-card-subtitle>Filme</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </swiper-slide>
  
      <swiper-slide>
        <ion-col>
          <ion-card>
            <img src="assets/produtos/produto18.png" />
            <ion-card-header>
              <ion-card-title>Wonka</ion-card-title>
              <ion-card-subtitle>Filme</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
  
        <ion-col>
          <ion-card>
            <img src="assets/produtos/produto21.png" />
            <ion-card-header>
              <ion-card-title>Gastro Beer</ion-card-title>
              <ion-card-subtitle>Gastronômico</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </swiper-slide>
  
      <swiper-slide>
        <ion-col>
          <ion-card>
            <img src="assets/produtos/produto24.png" />
            <ion-card-header>
              <ion-card-title>Miguel Pereira</ion-card-title>
              <ion-card-subtitle>Gastronômico</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
  
        <ion-col>
          <ion-card>
            <img src="assets/produtos/produto30.png" />
            <ion-card-header>
              <ion-card-title>Carnaval Rio</ion-card-title>
              <ion-card-subtitle>Carnaval</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </swiper-slide>
    </swiper-container>

    <!--
<div class="about-section">
  <h2 class="styled-text about-subtitle">Sobre a Agenda Local</h2>
  <p class="styled-text">
    A Agenda Local é uma Start Up responsável por fazer um compilado de diversos tipos de eventos, sendo eles Shows, Peças Teatrais, Feiras Gastronômicas, Filmes em Cartaz, dentre outros que estão ocorrendo ou irão ocorrer no Rio de Janeiro.
  </p>
</div>
-->
  </ion-content>
      
          